.photoBox {
    width: 50vw;
    height: 100vh;

    background-image: url("../images/side-image-2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* RESPONSIVE */
/* Phone Only */
@media (max-width: 599px) {
    .photoBox {
        display: none;
    }
}

/* Tablet Portrait Up */
@media (min-width: 600px) {
    .photoBox {
        display: none;
    }   
}

/* Desktop Up */
@media (min-width: 1024px) {
    .photoBox {
        display: flex;
    }
}