.login__title {
    display: flex;
    align-items: center;
    margin: 4rem 3.5rem 1rem 0;
    
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--text-title);
}

.login__title img {
    margin-right: 0.5rem;
}

/* RESPONSIVE */
/* Phone Only */
@media (max-width: 599px) {
    .login__title {
        margin: 2rem 3.5rem 1rem 0;
    }
}